
header{
  border-radius: 1em;
  margin: 0.9em;
  height: 120px;
  background: #AFAFAB;
  margin-top: 2em;
  text-align: center;
}


h1{
font-size:65px;
}

.forma1{
margin-left: 2px;
margin-top: 5px;


}



footer{
margin-top: 10px;

}
